.img-thumbnail{
    margin: 10px 10px 10px 10px;
    width: 92%;
    /* height:85%; */
}
.card-body{
    /* for left and right padding */
    padding: 0 25px;
}

.card-footer{
    padding: 10px 15px;
    background-color: white;
    border-top: none;
}